# Resend
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxxxxxx
RESEND_FROM_EMAIL="Panama JUG <forms@panamajug.org>"
CONTACT_INBOX_EMAIL="contact.jugpanama@gmail.com"
RESEND_TEMPLATE_CONTACT_ACK_ID=""
RESEND_TEMPLATE_SPONSOR_ACK_ID=""

# Cloudflare Turnstile
TURNSTILE_SITE_KEY=""
TURNSTILE_SECRET_KEY=""
